<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>SignUpToAmServlet</servlet-name>
        <servlet-class>com.wso2telco.spprovisionapp.webapps.servlets.SignUpToAmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proceed</servlet-name>
        <servlet-class>com.wso2telco.spprovisionapp.webapps.servlets.Proceed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateApplicationInAmServlet</servlet-name>
        <servlet-class>com.wso2telco.spprovisionapp.webapps.servlets.CreateApplicationInAmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateApplication</servlet-name>
        <servlet-class>com.wso2telco.spprovisionapp.webapps.servlets.ActivateApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateApplication</servlet-name>
        <servlet-class>com.wso2telco.spprovisionapp.webapps.servlets.UpdateApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscribeToApisServlet</servlet-name>
        <servlet-class>com.wso2telco.spprovisionapp.webapps.servlets.SubscribeToApisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSubscriptions</servlet-name>
        <servlet-class>com.wso2telco.spprovisionapp.webapps.servlets.UpdateSubscriptions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateSubscriptionValidator</servlet-name>
        <servlet-class>com.wso2telco.spprovisionapp.webapps.servlets.GenerateSubscriptionValidator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateClientKeyAndSecret</servlet-name>
        <servlet-class>com.wso2telco.spprovisionapp.webapps.servlets.GenerateClientKeyAndSecret</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.wso2telco.spprovisionapp.webapps.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScopeConfigurationServlet</servlet-name>
        <servlet-class>com.wso2telco.spprovisionapp.webapps.servlets.ScopeConfigurationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNewKeysServlet</servlet-name>
        <servlet-class>com.wso2telco.spprovisionapp.webapps.servlets.UpdateNewKeysServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestAppServlet</servlet-name>
        <servlet-class>com.wso2telco.spprovisionapp.webapps.servlets.TestAppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToHomePageServlet</servlet-name>
        <servlet-class>com.wso2telco.spprovisionapp.webapps.servlets.RedirectToHomePageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpToAmServlet</servlet-name>
        <url-pattern>/SignUpToAmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proceed</servlet-name>
        <url-pattern>/Proceed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateApplicationInAmServlet</servlet-name>
        <url-pattern>/CreateApplicationInAmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateApplication</servlet-name>
        <url-pattern>/ActivateApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateApplication</servlet-name>
        <url-pattern>/UpdateApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscribeToApisServlet</servlet-name>
        <url-pattern>/SubscribeToApisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSubscriptions</servlet-name>
        <url-pattern>/UpdateSubscriptions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateSubscriptionValidator</servlet-name>
        <url-pattern>/GenerateSubscriptionValidator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateClientKeyAndSecret</servlet-name>
        <url-pattern>/GenerateClientKeyAndSecret</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScopeConfigurationServlet</servlet-name>
        <url-pattern>/ScopeConfigurationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNewKeysServlet</servlet-name>
        <url-pattern>/UpdateNewKeysServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestAppServlet</servlet-name>
        <url-pattern>/TestAppServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToHomePageServlet</servlet-name>
        <url-pattern>/RedirectToHomePageServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
